<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Memory</title>

    <!-- https://metroui.org.ua/intro.html CSS -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4.3.2/css/metro-all.min.css">
</head>

<body>
<!-- NavBar TO DO -->

<!-- Memory game GRID -->
<div class="container">
    <div class="tiles-grid">
        <div th:each="card,iter : ${game.cards}" data-role="tile" data-size="large" class="bg-cyan">
            <a th:href="@{/check/{cardIndex}(cardIndex=${card.cardIndex})}">
            <div th:switch="${card.cardSide.name()}">
                <span th:case="REVERSE">
                    <img src="https://picsum.photos/id/237/310/310?grayscale&blur=2">
                </span>
                <span th:case="OBVERSE">
                    <img th:src="@{${card.picUrl}}"/>
                </span>
            </div>
            </a>
        </div>
    </div>
</div>

<!-- Footer TO DO -->

<!-- https://metroui.org.ua/intro.html Scripts -->
<script src="https://cdn.metroui.org.ua/v4.3.2/js/metro.min.js"></script>

</body>
</html>